<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Shadow</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" rel="stylesheet">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.1/angular.min.js"></script>
        <script type="text/javascript" src="static/js/shadow.js"></script>
        <script type="text/javascript" src="static/js/diff.js"></script>
        <style type="text/css">
            .requests-buttons {
                float: right;
            }
            .filter-labels {
                display: inline-block;
            }
            .filter-labels .label {
                margin-right: 5px;
                cursor: pointer;
            }
            #scrollableTable {
                width: 100%; 
                display: block; 
                height: 200px; 
                overflow-y: scroll;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #follow-buttons {
                float: right;
            }
            .margin-top-20 {
                margin-top: 20px;
            }
            .response-label {
                float: right;
            }
            span.ins {
                background: #76e213;
                color: #22360c;
                text-decoration: none;
            }

            tr.selected {
                background: #f5f5f5;
            }

            span.del {
                text-decoration: none;
                color: #b30000;
                background: #e7a7a1;
            }
        </style>
    </head>
    <body ng-controller="ResultsCtrl">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">Shadow</a>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 60px">
            <div class="row">
                <div class="span12">
                    <div class="requests-buttons">
                        <div class="filter-labels">
                            <a class="label" ng-class="filterClass('success')" ng-click="toggleFilter('success')">
                                Success - {{resultsFilter['success'].count}}
                            </a>
                            <span class="label" ng-class="filterClass('status_code_diff')" ng-click="toggleFilter('status_code_diff')">
                                Status Code Diff - {{resultsFilter['status_code_diff'].count}}
                            </span>
                            <span class="label" ng-class="filterClass('body_diff')" ng-click="toggleFilter('body_diff')">
                                Body Diff - {{resultsFilter['body_diff'].count}}
                            </span>
                        </div>
                        <button class="btn btn-info" ng-click='deleteNonError()'>Delete Non-errors</button>
                        <button class="btn-danger btn" ng-click='emptyResults()'>Delete All</button>
                    </div>
                    <h2>Requests</h2>

                    <div id="scrollableTable" >
                        <table class="table table-stripped table-condensed" style="position: relative">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Incoming Request</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show='results.length == 0'>
                                    <td colspan="3">No requests yet.</td>
                                </tr>
                                
                                <tr ng-class="{true: 'selected'}[result.index == currentResult.index]" 
                                    style="cursor: pointer" ng-repeat='result in filtered = (results | filter:filterResults)' 
                                    ng-click='setCurrentResult(result, $index, filtered)'>
                                    
                                    <td>{{result.index + 1}}</td>
                                    <td>
                                        <span>
                                            {{result.request.original.method}} {{result.request.original.url}}
                                        </span>
                                        <!-- Show any status code that is out of the ordinary -->
                                        <span class="label label-info" style="margin-left: 5px" ng-show="result.results[0].status_code > 300">
                                            {{result.results[0].status_code}}
                                        </span>
                                        <span class="label label-inverse" style="margin-left: 5px" ng-show="result.results[1].status_code > 300">
                                            {{result.results[1].status_code}}
                                        </span>
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        <span class="label label-important" ng-show='result["status_code_diff"]'>Status Code Diff</span>
                                        <span class="label label-warning" ng-show='result["body_diff"]'>Body Diff</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="follow-buttons">
                        <!-- Follows scrolling -->
                        <button class="btn" ng-class="followBtn[followState].clazz" ng-click="followState = !followState">
                            {{ followBtn[followState].label }} 
                        </button>
                    </div>
                </div>
            </div>
            <div class="row well margin-top-20" ng-hide="currentResult == ''">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div style="float: right">
                                <button class="btn" ng-click="setCurrentResult(prev.result, prev.index, prev.results)">Prev</button>
                                <button class="btn" ng-click="setCurrentResult(next.result, next.index, next.results)">Next</button>
                                <button class="btn btn-danger" ng-click='removeResult(currentResult.index)'>Delete</button>
                            </div>
                                <h2>
                                    Request {{currentResult.index+1}}
                                </h2>
                            <div class="container">
                                <div class="row">
                                    <div class="span6">
                                        <table class="table table-stripped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Path</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{currentResult.request.original.url}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-stripped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Headers</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat='(key, value) in currentResult.request.original.headers'>
                                                    <td>{{key}}</td>
                                                    <td>{{value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="span6">
                                        <table class="table table-stripped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">GET Params</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat='(key, value) in currentResult.request.original.get'>
                                                    <td>{{key}}</td>
                                                    <td>{{value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-stripped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">POST Params</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat='(key, value) in currentResult.request.original.post'>
                                                    <td>{{key}}</td>
                                                    <td>{{value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span12">
                            <h2>
                                Responses
                            </h2>
                        </div>
                        <div class="span6">
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="2">Headers</th>
                                        <span class="label label-info response-label">
                                                Old
                                        </span>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='(key, value) in orig.headers'>
                                        <td>{{key}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Response Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{orig.elapsed_time}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{orig.status_code}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Body</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td style="word-wrap: break-word;">{{orig.body}}</td> -->
                                        <td style="white-space: pre;">{{orig.body}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span6">
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="2">Headers</th>
                                        <span class="label label-inverse response-label">
                                               New
                                        </span>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='(key, value) in shadowed.headers'>
                                        <td>{{key}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Response Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{shadowed.elapsed_time}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Status
                                            <span class="label label-important response-label" ng-show='currentResult.status_code_diff'>Status Code Diff</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{shadowed.status_code}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Body
                                            <span class="label label-warning response-label" ng-show='currentResult.body_diff'>
                                                Body Diff
                                            </span>
                                            <button 
                                                class="btn btn-mini response-label" style="margin-top:-1px; margin-right:2px" 
                                                ng-class="showDiffBtn[shadowed.show_diff].clazz"
                                                ng-click="shadowed.show_diff = !shadowed.show_diff"
                                                ng-show='currentResult.body_diff'>
                                                    {{showDiffBtn[shadowed.show_diff].label}}
                                            </button>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td style="word-wrap: break-word;"> -->
                                        <td style="white-space: pre;">
                                            <span ng-show='!shadowed.show_diff' ng-bind="shadowed.body"></span>
                                            <span ng-show='shadowed.show_diff' ng-bind-html-unsafe="shadowed.body_diff"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
